body{
    margin: 0;
}
#navbar-texto{
    width: 600px;
}
#nav-menu{
    height: 100px;
    background-color: #535151ea;
    grid-row: 1/2;
}
#icon{
    font-family: sans-serif;
    color: #D3D3D3;
    letter-spacing: 10px;
}
#ul-dropdown{
    background-color: #535151;
    color: #D3D3D3;
}
#container-principal{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 100px 1150px 200px;
    margin: 0;
}
#centrofim{
    grid-row: 5/6;
    height: 200px;
    width: 100%;
    background-color: #303132;
}
#finzin{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 55%;
    height: 200px;
    background-color: #303132;
}
#redes{
    grid-column: 1/2;
    color: #D3D3D3;
    text-align: center;
}
#fique{
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 18px;
}
#logos{
    margin-top: 30px;
    margin-left: 25%;
    display: flex;
    width: 100px;
    justify-content: space-between;
}
#faça{
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 18px;
    color: #D3D3D3;
}
#parmeio{
    grid-column: 2/3;
    text-align: center;
}
#input{
    background-color: #535151;
    color: #D3D3D3;
    width: 299px;
    height: 35px;
    border: 0;
    padding: 3px 3px 3px 21px;
    margin-top: 30px;
}
#input:hover{
    background-color: white;
    color: #D3D3D3;
}
#button{
    text-align: center;
    width: 298px;
    height: 35px;
    background-color: #D3D3D3;
    color: #303132;
    border: 0;
    margin-top: 10px;
}
#button:hover{
    background-color: #535151;
    color: #D3D3D3;
    transition: 0.8s;
}
#ajuda{
    grid-column: 3/4;
    text-align: center;
}
#precisa{
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 18px;
    color: #D3D3D3;
}
#inf{
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 13px;
    color: #cdc9c9;   
}
#tituloloja{
    font-family: sans-serif;
    font-size: 19px;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 85px;
    margin-bottom: 85px;
}
#loja{
    grid-row: 2/3;
    height: 1100px;
}
#itens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 1150px;
    width: 70%;
    margin: 0 auto;
}
#i1{
    margin-left: 7%;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 242px;
    height: 304px;
}
.fitem{
    margin-left: 8.5%;
    margin-top: 10px;
    border-radius: 15px;
}
.pitem{
    margin-top: 9px;
    margin-left: 8.5%;
}
#i2{
    margin-left: 7%;
    grid-row: 1/2;
    grid-column: 2/3;
    width: 242px;
    height: 304px;
}
#i3{
    margin-left: 7%;
    grid-row: 1/2;
    grid-column: 3/4;
    width: 242px;
    height: 304px;
}
#i4{
    margin-left: 7%;
    grid-row: 1/2;
    grid-column: 4/5;
    width: 242px;
    height: 304px;
}
#i5{
    margin-left: 7%;
    grid-row: 2/3;
    grid-column: 1/2;
    width: 242px;
    height: 304px;
}
#i6{
    margin-left: 7%;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 242px;
    height: 304px;
}
#i7{
    margin-left: 7%;
    grid-row: 2/3;
    grid-column: 3/4;
    width: 242px;
    height: 304px;
}
#i8{
    margin-left: 7%;
    grid-row: 2/3;
    grid-column: 4/5;
    width: 242px;
    height: 304px;
}
#i9{
    margin-left: 7%;
    grid-row: 3/4;
    grid-column: 1/2;
    width: 242px;
    height: 304px;
}
#i10{
    margin-left: 7%;
    grid-row: 3/4;
    grid-column: 2/3;
    width: 242px;
    height: 304px;
}
#i11{
    margin-left: 7%;
    grid-row: 3/4;
    grid-column: 3/4;
    width: 242px;
    height: 304px;
}
#i12{
    margin-left: 7%;
    grid-row: 3/4;
    grid-column: 4/5;
    width: 242px;
    height: 304px;
}